input{
    margin-right: 10px;
    border-radius: 10px;
    text-indent: 10px;
    border: none;
}
button{
    padding: 1px 20px;
    border-radius: 8px;
    background: #ffb91a;
    cursor: pointer;
    border: none;
}
button:hover,
button:focus{
    background: #db9900;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 100px;
  }
  
  .photo-card {
    width: calc(33.33% - 30px); /* Adjust as needed */
    margin-bottom: 30px; /* Adjust as needed */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
    
  }
  
  .photo-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .photo-card .info {
    padding: 20px;
    background-color: #ffb91a; /* Adjust to desired yellowish background */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .photo-card .info-item {
    margin: 5px 0;
    font-weight: bold;
    color: #333; /* Adjust text color as needed */
    border: 2px dashed;
    text-align: center;
    // color: #2d2ddd;
  }
  
  /* Additional styling for a modern card look */
  .photo-card {
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .photo-card:hover {
    transform: translateY(-5px);
  }
  
  .photo-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient( bottom to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .load-more{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 4px 20px;
  }
  .load-more.hidden{
    display: none;
  }